$primary-color: #d60000; // Red (Logo & Buttons)
$secondary-color: #4e4e4e; // Gray (Secondary elements like body text)
$text-color: #222222; // Black (Main Text)
$background-color: #ffffff; // White (Background)

$header-height: 3rem;
$nav-width: 68px;

$first-color: #f7f6fb;
$first-color-light: #4a4a4a;

$normal-font-size: 1rem;
$z-fixed: 100;
