@import "_utilities.scss";

body {
  background: $background-color;
  font-family: $font-family !important;
}

/* Base error message styling */
.error-message {
  font-size: 0.75rem; /* Smaller font size */
  color: #dc3545; /* Red color for error messages */
  margin-top: 0.25rem; /* Add some spacing from the input field */
  display: block; /* Ensure the error message takes up full width */
}

// ================================================
// SLIDER
// =================================================
.slider-header {
  bottom: 0;
  height: 50px;
  padding: 5px;
  background-color: $off-white;
  border-bottom: solid 1px $off-white-border;
}

.slider-body {
  width: 100%;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.slider-footer {
  bottom: 0;
  height: 50px;
  padding: 5px;
  background-color: $off-white;
  border-top: solid 1px $off-white-border;
}

.slide-in {
  animation: slide-in 0.2s forwards;
  -webkit-animation: slide-in 0.2s forwards;
}

.slide-out {
  animation: slide-out 0.2s forwards;
  -webkit-animation: slide-out 0.2s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}
