.history-container {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }
}

.history-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .status {
    font-weight: bold;
    &.rejected {
      color: #ff0000;
    }
  }

  .date {
    font-size: 0.9em;
    color: #666;
  }
}

.history-content {
  margin-bottom: 10px;
  p {
    margin: 5px 0;
  }
}

.history-footer {
  font-size: 0.9em;
  color: #333;
}

.no-records {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  color: #666;
  border: 1px dashed #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.scrollable-image {
  max-height: 65vh; /* Limits the image container to 50% of the viewport height */
  overflow-y: auto; /* Enables vertical scrolling if the image is too large */
  border: 1px solid #ddd; /* Optional: Adds a border for better visibility */
  padding: 4px; /* Optional: Adds padding around the image */

  img {
    max-width: 100%; /* Ensures the image doesn't overflow horizontally */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Centers the image properly */
  }
}
