<app-user-profile-popup #userProfilePopupComponent></app-user-profile-popup>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h3>{{ PageTitle }}</h3>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <i class="bx bx-chevron-down"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <!-- Updated Notification Bell -->
        <li class="nav-item me-3">
          <a
            class="nav-link notification-bell p-0"
            onclick="return false;"
            href="#"
            (click)="open_notifications()"
          >
            <i class="bx bx-bell fs-3"></i>
            <span
              *ngIf="UnreadNotifications > 0"
              class="badge rounded-pill bg-danger"
            >
              {{ UnreadNotifications }}
            </span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="profileDropdown"
            role="button"
            data-bs-toggle="dropdown"
          >
            <div class="d-flex align-items-center">
              <app-avatar
                [Image]="ImageUrl"
                [FullName]="FullName"
                [Colour]="Colour"
              ></app-avatar>
              <div class="ms-3">
                <div>{{ FullName }}</div>
                <div>
                  <small>{{ Role?.Code }}</small>
                </div>
              </div>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a
                href="#"
                class="dropdown-item"
                onclick="return false;"
                (click)="user_profile()"
              >
                Profile
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-item" onclick="return false;">
                Settings
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
