<app-customer-verification-popup
  #customerVerificationPopup
  (OnSave)="refresh()"
></app-customer-verification-popup>

<div class="list-height">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Filters -->
      <div class="list-page-filters">
        <app-select-single-lookup
          #country
          name="country"
          id="country"
          from="body"
          [Icon]="'bx bx-flag'"
          [ApiMethod]="'Country'"
          [Placeholder]="'Country'"
          (OnInitEmitter)="initialiseLookup('u.CountryId')"
          (OnChangeEmitter)="onChangeLookup($event, 'u.CountryId')"
        ></app-select-single-lookup>

        <app-select-single-lookup
          #status
          name="status"
          id="status"
          from="body"
          [autoSelectFirstItem]="true"
          [Icon]="'bx bx-toggle-right'"
          [Placeholder]="'Status'"
          [ApiMethod]="'RegistrationStatuses'"
          [IsCustomRequest]="true"
          [Params]="'?isListPage=true'"
          (OnInitEmitter)="initialiseLookup('u.RegistrationStatusId')"
          (OnChangeEmitter)="onChangeLookup($event, 'u.RegistrationStatusId')"
        ></app-select-single-lookup>

        <app-date-range-picker
          #fromtoDatePicker
          [ShowSearch]="true"
          [ShowClear]="true"
          ngbTooltip="Transaction Date Filter"
          (OnInitEmitter)="initialiseDateRange('u.AccountCreationDate')"
          (OnSearchEmitter)="onChangeDateRange($event, 'u.AccountCreationDate')"
          (OnClearEmitter)="onClearDateRange('u.AccountCreationDate')"
          [Opens]="'right'"
          [width]="'120%'"
        ></app-date-range-picker>

        <!-- <app-select-multi-lookup
            #country
            name="country"
            id="country"
            from="body"
            [ApiMethod]="'Countries'"
            [appendTo]="'Body'"
            [width]="'90%'"
            (OnInitEmitter)="initialiseLookup('u.CountryId')"
            (OnChangeEmitter)="onChangeMultiLookup($event, 'u.CountryId')"
          ></app-select-multi-lookup> -->
      </div>

      <!-- Search Bar -->
      <div class="collapse navbar-collapse d-flex justify-content-end">
        <app-search-input
          [searchText]="Criteria.search"
          (ValueChange)="Criteria.search = $event; refresh()"
          placeholder="Search for something..."
        ></app-search-input>
      </div>
    </div>
  </nav>

  <!-- Table -->
  <table class="iq-list-table">
    <thead>
      <tr>
        <th class="d-none d-md-table-cell"></th>
        <th>Name</th>
        <th class="d-none d-md-table-cell">WhatsApp Number</th>
        <th class="d-none d-lg-table-cell">
          <app-sort [sortField]="'u.CountryId'" (OnClick)="sort($event)">
            Country
          </app-sort>
        </th>
        <th class="d-none d-lg-table-cell">
          <app-sort
            [sortField]="'u.AccountCreationDate'"
            (OnClick)="sort($event)"
          >
            Registration Date
          </app-sort>
        </th>
        <th>
          <app-sort
            [sortField]="'u.RegistrationStatusId'"
            (OnClick)="sort($event)"
          >
            Status
          </app-sort>
        </th>
        <th class="d-none d-lg-table-cell">Updated By</th>
        <th class="d-none d-md-table-cell"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of ViewModel?.Items">
        <td class="d-none d-md-table-cell"></td>
        <td>
          {{ a.Name }}
          <strong>{{ a.Surname }}</strong>
        </td>
        <td class="d-none d-md-table-cell">
          {{ a.PhoneNumber }}
        </td>
        <td class="d-none d-lg-table-cell">{{ a.Country }}</td>
        <td class="d-none d-lg-table-cell">
          {{ a.AccountCreationDate | date: "yyyy, dd MMM" }}
        </td>
        <td>
          <p
            class="badge"
            [ngClass]="{
              'bg-prog-4': a.RegistrationStatus === 'Approved',
              'bg-prog-2': a.RegistrationStatus === 'Pending',
              'bg-prog-1': a.RegistrationStatus === 'Rejected',
            }"
          >
            {{ a.RegistrationStatus }}
            <span
              *ngIf="a.History && a.History.length > 0"
              class="status-notification-badge"
            >
              {{ a.History.length }}
            </span>
          </p>
        </td>
        <td class="d-none d-lg-table-cell">{{ a.CustomerServiceAgent }}</td>
        <td>
          <a
            href="#"
            onclick="return false;"
            class="table-action-link d-none d-md-table-cell"
            (click)="details(a)"
          >
            Verify
          </a>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="ViewModel?.Count === 0 && IsLoading === false">
      <tr>
        <td colspan="10" class="text-center border-bottom-0">
          <h4 class="mt-5 mb-5">
            <i class="fa fa-exclamation-triangle me-2"></i>
            No results found
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-paging
  #paging
  [criteria]="Criteria"
  [RecordTotal]="ViewModel?.Count"
  (PagingEmitter)="refresh()"
></app-paging>
