<ng-template #userEditTemplate>
  <div class="modal-header">
    <h4 class="modal-title float-start">
      <i class="bx bx-user"></i>
      User Edit
    </h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="modalDialog.dismiss()"
    ></button>
  </div>

  <div class="modal-body rs-modal-content position-relative">
    <!-- Skeleton Loading -->
    <div *ngIf="IsLoading">
      <div class="skeleton-avatar"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-text short"></div>
      <hr />
      <div class="skeleton-input"></div>
      <div class="skeleton-input"></div>
      <div class="skeleton-input"></div>
    </div>

    <!-- Actual Content (Hidden During Loading) -->
    <form *ngIf="!IsLoading" #form="ngForm" autocomplete="off">
      <div class="row g-0 pt-4 pb-1">
        <div class="col-1 me-5">
          <div class="mb-3 col-lg-12">
            <app-avatar
              [Size]="'xl'"
              [Image]="ViewModel.identityImage | convertImage"
              [FullName]="ViewModel | displayName"
            ></app-avatar>
          </div>
        </div>

        <div class="col-3 pb-0">
          <div class="mb-3 col-lg-12 pt-3 ps-0">
            <div class="p-0">
              <span class="col-form-label p-0 bold">
                <strong>
                  {{ ViewModel.firstName }}&nbsp;{{ ViewModel.surname }}
                </strong>
              </span>
            </div>
            <div class="p-0">
              <span class="col-form-label p-0">{{ ViewModel.email }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col">
          <label for="name" class="col-form-label">Name</label>
          <input
            name="name"
            class="form-control form-control-sm"
            [(ngModel)]="ViewModel.firstName"
            required
          />
          <div
            *ngIf="
              form.controls['name']?.touched && !form.controls['name']?.value
            "
            class="text-danger"
          >
            Name is required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col">
          <label for="surname" class="col-form-label">Surname</label>
          <input
            name="surname"
            class="form-control form-control-sm"
            [(ngModel)]="ViewModel.surname"
            required
          />
          <div
            *ngIf="
              form.controls['surname']?.touched &&
              !form.controls['surname']?.value
            "
            class="text-danger"
          >
            Surname is required.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col">
          <label for="email" class="col-form-label">Email</label>
          <input
            [disabled]="emailValid && UserId === ''"
            name="email"
            class="form-control form-control-sm"
            [(ngModel)]="ViewModel.email"
            (ngModelChange)="onEmailChange($event)"
            required
          />
          <div
            *ngIf="
              form.controls['email']?.touched &&
              !(ViewModel.email | emailValidator)
            "
            class="text-danger"
          >
            Please enter a valid email.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col">
          <label for="phoneNumber" class="col-form-label">Phone Number</label>
          <input
            name="phoneNumber"
            class="form-control form-control-sm"
            [(ngModel)]="ViewModel.phoneNumber"
            required
          />
          <div
            *ngIf="
              form.controls['phoneNumber']?.touched &&
              !form.controls['phoneNumber']?.value
            "
            class="text-danger"
          >
            Phone Number is required.
          </div>
        </div>
      </div>

      <div *ngIf="UserId !== undefined" class="row">
        <div class="mb-3 col">
          <label for="roles" class="col-form-label">Roles</label>
          <div class="profile-roles">
            <ul class="roles-list">
              <li *ngFor="let item of ViewModel.roles">
                <div class="role-item">
                  <i
                    class="fa fa-circle px-3"
                    [ngClass]="{
                      'text-success': shouldShowIcon(item),
                      'text-muted': !shouldShowIcon(item),
                    }"
                    [attr.title]="shouldShowIcon(item) ? 'Active' : 'Inactive'"
                    data-bs-toggle="tooltip"
                  ></i>

                  <div class="role-avatar">
                    {{ get_initial(item?.roleName ?? "") }}
                  </div>
                  <div class="role-info">
                    <p class="role-name">{{ item?.roleName }}</p>
                    <p class="role-description">
                      {{ item?.roleCode }}
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div *ngIf="UserId === undefined" class="row">
        <div class="mb-3 col">
          <label for="roles" class="col-form-label">Roles</label>
          <app-select-single-lookup
            #role
            name="role"
            id="role"
            from="body"
            [Icon]="'bx bx-group'"
            [ApiMethod]="'Roles'"
            [IsCustomRequest]="true"
            [Params]="'?isFilter=true'"
            [Placeholder]="'Role'"
            [(ngModel)]="ViewModel.roleId"
          ></app-select-single-lookup>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer bg-light-gray">
    <button
      *ngIf="IsLoading"
      type="button"
      class="btn btn-outline-success me-2"
      [disabled]="true"
    >
      <i class="bx bx-loader-alt bx-spin bx-rotate-90"></i>
    </button>

    <button
      *ngIf="!IsLoading && UserId !== undefined"
      [disabled]="
        !ViewModel.firstName ||
        !ViewModel.surname ||
        !ViewModel.email ||
        !ViewModel.phoneNumber
      "
      type="button"
      class="btn btn-primary btn-sm"
      (click)="update()"
    >
      <i class="bx bxs-edit"></i>
      Update
    </button>

    <button
      *ngIf="!IsLoading && UserId === undefined"
      [disabled]="
        !ViewModel.firstName ||
        !ViewModel.surname ||
        !ViewModel.email ||
        !ViewModel.phoneNumber ||
        !ViewModel.roleId
      "
      type="button"
      class="btn btn-primary btn-sm"
      (click)="create()"
    >
      <i class="bx bxs-edit"></i>
      Create
    </button>
  </div>
</ng-template>
