<div class="list-height">
  <ul class="box-info">
    <li>
      <i class="bx bxs-calendar-check"></i>
      <span class="text">
        <h3>1020</h3>
        <p>New Order</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-group"></i>
      <span class="text">
        <h3>2834</h3>
        <p>Visitors</p>
      </span>
    </li>
    <li>
      <i class="bx bxs-dollar-circle"></i>
      <span class="text">
        <h3>N$2543.00</h3>
        <p>Total Sales</p>
      </span>
    </li>
  </ul>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100">
        <!-- Filters -->
        <div class="list-page-filters">
          <app-select-single-lookup
            #country
            name="country"
            id="country"
            from="body"
            [Icon]="'bx bx-flag'"
            [ApiMethod]="'Countries'"
            [Placeholder]="'Countries'"
            (OnInitEmitter)="initialiseLookup('u.CountryId')"
            (OnChangeEmitter)="onChangeLookup($event, 'u.CountryId')"
          ></app-select-single-lookup>

          <app-date-range-picker
            #fromtoDatePicker
            [ShowSearch]="true"
            [ShowClear]="true"
            ngbTooltip="Transaction Date Filter"
            (OnInitEmitter)="initialiseDateRange('u.AccountCreationDate')"
            (OnSearchEmitter)="
              onChangeDateRange($event, 'u.AccountCreationDate')
            "
            (OnClearEmitter)="onClearDateRange('u.AccountCreationDate')"
            [Opens]="'right'"
            [width]="'300%'"
          ></app-date-range-picker>
        </div>

        <!-- Search Bar -->
        <div class="collapse navbar-collapse d-flex justify-content-end">
          <app-search-input
            [searchText]="Criteria.search"
            (ValueChange)="Criteria.search = $event; refresh()"
            placeholder="Search for something..."
          ></app-search-input>
        </div>
      </div>
    </div>
  </nav>

  <!-- Table -->
  <table class="iq-list-table">
    <thead>
      <tr>
        <th class="d-none d-md-table-cell"></th>
        <th>Name</th>
        <th class="d-none d-lg-table-cell">
          <app-sort [sortField]="'u.CountryId'" (OnClick)="sort($event)">
            Country
          </app-sort>
        </th>
        <th>
          <app-sort [sortField]="'w.UsableBalance'" (OnClick)="sort($event)">
            Balance
          </app-sort>
        </th>
        <th class="d-none d-lg-table-cell">
          <app-sort
            [sortField]="'u.AccountCreationDate'"
            (OnClick)="sort($event)"
          >
            Date
          </app-sort>
        </th>
        <th class="d-none d-md-table-cell"></th>
      </tr>
      <tr class="filter-row table-fixed-header">
        <td class="d-none d-md-table-cell"></td>
        <td class="d-none d-md-table-cell"></td>
        <td class="d-none d-lg-table-cell"></td>
        <td></td>
        <td class="d-none d-md-table-cell"></td>
        <td class="d-none d-md-table-cell"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of ViewModel?.Customers.Items">
        <td class="d-none d-md-table-cell"></td>
        <td>
          <div class="d-flex align-items-center">
            <app-avatar
              [Size]="'sm'"
              [Image]="a.ProfileImage | convertImage"
              [FullName]="a | displayName"
            ></app-avatar>

            <div class="ms-3">
              <p class="fw-bold mb-1">{{ a.FirstName }} {{ a.Surname }}</p>
              <p class="text-muted mb-0">{{ a.Email }}</p>
              <p class="text-muted mb-0">
                {{ a.PhoneNumber | phoneFormat: a.MobileRegex }}
              </p>
            </div>
          </div>
        </td>
        <td class="d-none d-lg-table-cell">{{ a.CountryName }}</td>
        <td>{{ a.UsableBalance | customCurrency }}</td>
        <td class="d-none d-lg-table-cell">
          {{ a.AccountCreationDate | date: "yyyy, dd MMM" }}
        </td>

        <td class="d-none d-md-table-cell">
          <a
            href="#"
            onclick="return false;"
            class="table-action-link"
            (click)="edit()"
          >
            Edit
          </a>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="ViewModel?.Count === 0 && IsLoading === false">
      <tr>
        <td colspan="10" class="text-center border-bottom-0">
          <h4 class="mt-5 mb-5">
            <i class="fa fa-exclamation-triangle me-2"></i>
            No results found
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-paging
  #paging
  [criteria]="Criteria"
  [RecordTotal]="ViewModel?.Count"
  (PagingEmitter)="refresh()"
></app-paging>
