<app-user-edit-popup #userEditPopup (OnSave)="refresh()"></app-user-edit-popup>

<div class="list-height">
  <!-- Search Bar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100">
        <!-- Register Button -->
        <button
          class="btn btn-primary btn-action"
          [ngClass]="{ 'btn-sm': isSmallScreen }"
          (click)="create()"
        >
          Create new user
        </button>

        <!-- Filters -->
        <div class="list-page-filters">
          <app-select-single-lookup
            #status
            name="status"
            id="status"
            from="body"
            [Icon]="'bx bx-toggle-right'"
            [ApiMethod]="'IsActive'"
            [Placeholder]="'Status'"
            (OnInitEmitter)="initialiseLookup('u.IsAccountActive')"
            (OnChangeEmitter)="onChangeLookup($event, 'u.IsAccountActive')"
          ></app-select-single-lookup>

          <app-select-single-lookup
            #country
            name="country"
            id="country"
            from="body"
            [Icon]="'bx bx-flag'"
            [ApiMethod]="'Country'"
            [Placeholder]="'Country'"
            (OnInitEmitter)="initialiseLookup('u.CountryId')"
            (OnChangeEmitter)="onChangeLookup($event, 'u.CountryId')"
          ></app-select-single-lookup>

          <app-select-single-lookup
            #role
            name="role"
            id="role"
            from="body"
            [Icon]="'bx bx-group'"
            [ApiMethod]="'Roles'"
            [Placeholder]="'Role'"
            (OnInitEmitter)="initialiseLookup('ur.RoleId')"
            (OnChangeEmitter)="onChangeLookup($event, 'ur.RoleId')"
          ></app-select-single-lookup>
        </div>

        <!-- Search Bar -->
        <div class="collapse navbar-collapse d-flex justify-content-end">
          <app-search-input
            [searchText]="Criteria.search"
            (ValueChange)="Criteria.search = $event; refresh()"
            placeholder="Search for something..."
          ></app-search-input>
        </div>
      </div>
    </div>
  </nav>

  <!-- Table -->
  <table class="iq-list-table">
    <thead>
      <tr>
        <th class="d-none d-md-table-cell"></th>
        <th class="d-none d-md-table-cell">
          <app-sort [sortField]="'u.IsAccountActive'" (OnClick)="sort($event)">
            Status
          </app-sort>
        </th>
        <th>Name</th>
        <th class="d-none d-lg-table-cell">
          <app-sort [sortField]="'u.CountryId'" (OnClick)="sort($event)">
            Country
          </app-sort>
        </th>
        <th class="d-none d-lg-table-cell">Role</th>
        <!-- <th class="d-none d-lg-table-cell">WhatsApp Number</th> -->
        <!-- <th class="d-none d-lg-table-cell">Id Number</th> -->
        <th class="d-none d-lg-table-cell">
          <app-sort
            [sortField]="'u.AccountCreationDate'"
            (OnClick)="sort($event)"
          >
            Created Date
          </app-sort>
        </th>
        <th class="d-none d-md-table-cell">Last Login Date</th>
        <th class="d-none d-md-table-cell"></th>
      </tr>
      <tr class="filter-row table-fixed-header">
        <td class="d-none d-md-table-cell"></td>
        <td class="d-none d-md-table-cell"></td>
        <td></td>
        <td class="d-none d-lg-table-cell"></td>
        <td class="d-none d-lg-table-cell"></td>
        <!-- <td class="d-none d-lg-table-cell"></td> -->
        <!-- <td class="d-none d-lg-table-cell"></td> -->
        <td class="d-none d-md-table-cell"></td>
        <td class="d-none d-md-table-cell"></td>
        <td class="d-none d-md-table-cell"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of ViewModel?.items">
        <td class="d-none d-md-table-cell"></td>
        <td class="d-none d-md-table-cell">
          <p
            class="badge"
            [ngClass]="a.isAccountActive ? 'bg-prog-4' : 'bg-prog-1'"
          >
            {{ a.isAccountActive ? "Active" : "Inactive" }}
          </p>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <app-avatar
              [Size]="'sm'"
              [Image]="a.profileImage | convertImage"
              [FullName]="a | displayName"
            ></app-avatar>

            <div class="ms-3">
              <p class="fw-bold mb-1">{{ a.firstName }} {{ a.surname }}</p>
              <p class="text-muted mb-0">{{ a.email }}</p>
              <p class="text-muted mb-0">
                {{ a.phoneNumber }}
              </p>
            </div>
          </div>
        </td>
        <td class="d-none d-lg-table-cell">{{ a.countryName }}</td>
        <td class="d-none d-lg-table-cell">{{ a.roleName }}</td>

        <!-- <td class="d-none d-lg-table-cell">
          {{ a.PhoneNumber | phoneFormat: a.MobileRegex }}
        </td> -->

        <!-- <td class="d-none d-lg-table-cell">{{ a.IdNumber }}</td> -->
        <td class="d-none d-lg-table-cell">
          {{ a.accountCreationDate | date: "yyyy, dd MMM" }}
        </td>

        <td class="d-none d-md-table-cell">
          {{ a.lastActiveTime | date: "yyyy, dd MMM HH:mm:ss" }}
        </td>

        <td class="d-none d-md-table-cell">
          <a
            *ngIf="a.roleName !== 'Customer'"
            href="#"
            onclick="return false;"
            class="table-action-link"
            (click)="edit(a.userId)"
          >
            Edit
          </a>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="ViewModel?.count === 0 && IsLoading === false">
      <tr>
        <td colspan="10" class="text-center border-bottom-0">
          <h4 class="mt-5 mb-5">
            <i class="fa fa-exclamation-triangle me-2"></i>
            No results found
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-paging
  #paging
  [criteria]="Criteria"
  [RecordTotal]="ViewModel?.count"
  (PagingEmitter)="refresh()"
></app-paging>
