<div class="list-height">
  <!-- Search Bar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100">
        <!-- Register Button -->
        <button class="btn btn-primary" (click)="create()">
          Create new user
        </button>

        <!-- Search Bar -->
        <div class="collapse navbar-collapse d-flex justify-content-end">
          <app-search-input
            (valueChange)="refresh()"
            placeholder="Search for something..."
          ></app-search-input>
        </div>
      </div>
    </div>
  </nav>

  <!-- Table -->
  <table class="iq-list-table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th class="d-none d-md-table-cell">WhatsApp Number</th>
        <th>Email</th>
        <th class="d-none d-md-table-cell">Id Number</th>
        <th class="d-none d-md-table-cell">Created Date</th>
        <th></th>
      </tr>
      <tr class="filter-row table-fixed-header">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td style="width: 250px">
          <!-- Add your select-single-lookup component here -->
        </td>
        <td style="width: 250px">
          <!-- Add your select-single-lookup component here -->
        </td>
        <td>
          <!-- Add your select-single-lookup component here -->
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of ViewModel?.Items">
        <td class="position-relative">
          <span
            class="badge text-white"
            [ngClass]="a.IsAccountActive ? 'bg-prog-4' : 'bg-prog-1'"
            style="position: relative"
          >
            {{ a.IsAccountActive ? "Active" : "Inactive" }}
          </span>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <app-avatar
              [Size]="'sm'"
              [Image]="convert_image(a.IdentityImage)"
              [FullName]="display_name(a)"
            ></app-avatar>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ a.FirstName }} {{ a.Surname }}</p>
              <p class="text-muted mb-0">{{ a.Email }}</p>
            </div>
          </div>
        </td>
        <td>{{ a.PhoneNumber | phoneFormat }}</td>
        <td class="d-none d-md-table-cell">{{ a.Email }}</td>
        <td class="d-none d-md-table-cell">{{ a.IdNumber }}</td>
        <td class="d-none d-md-table-cell">
          {{ a.AccountCreationDate | date: "yyyy, dd MMM" }}
        </td>

        <td>
          <a
            href="#"
            onclick="return false;"
            class="table-action-link"
            (click)="edit(a)"
          >
            Edit
          </a>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="ViewModel?.Count === 0 && IsLoading === false">
      <tr>
        <td colspan="10" class="text-center border-bottom-0">
          <h4 class="mt-5 mb-5">
            <i class="fa fa-exclamation-triangle me-2"></i>
            No results found
          </h4>
        </td>
      </tr>
    </tbody>
  </table>
</div>
