<ng-template #transactionsTemplate>
  <div class="modal-header" *ngIf="!IsLoading">
    <h5 class="modal-title">
      Reference -
      <span [style.color]="'teal'">{{ TransactionReference }}</span>
    </h5>

    <button
      (click)="cancelClick()"
      type="button"
      class="btn-close"
      style="box-shadow: none !important"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>

  <div class="modal-body" *ngIf="!IsLoading">
    <ul class="nav nav-tabs mt-1" id="transaction-details" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          data-bs-toggle="tab"
          data-bs-target="#transaction-details"
          role="tab"
          aria-controls="home"
        >
          Transaction History
        </button>
      </li>

      <!--       <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#data-bundle"
          role="tab"
          aria-controls="home"
          aria-selected="true">
          Data Bundle
        </button>
      </li>

      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          data-bs-toggle="tab"
          data-bs-target="#voice-bundle"
          role="tab"
          aria-controls="home"
          aria-selected="true">
          Voice Bundle
        </button>
      </li> -->
    </ul>

    <div class="tab-content tabs p-0 mt-2">
      <div
        class="tab-pane show active"
        id="transaction-details"
        role="tabpanel"
      >
        <div class="view-content">
          <div class="generic-table-height">
            <table class="iq-list-table">
              <thead class="sticky-top">
                <tr>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>Message</th>
                  <th>Process Status</th>
                  <th *ngIf="!IsBeneficiary">Product</th>
                  <th>Payment Option</th>
                  <th *ngIf="IsBeneficiary">Beneficiary</th>
                  <th *ngIf="!IsBeneficiary">Payer</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let a of ViewModel">
                  <td>
                    {{ a.TransactionTypeName }}
                  </td>
                  <td>
                    {{ a.Amount | customCurrency }}
                  </td>
                  <td>
                    {{ a.TransactionMessage }}
                  </td>
                  <td>
                    {{ a.TransactionStatus }}
                  </td>
                  <td *ngIf="!IsBeneficiary">
                    {{ a.ProductDisplayName }}
                  </td>
                  <td>
                    {{ a.PaymentOptionName }}
                  </td>
                  <td *ngIf="IsBeneficiary">
                    {{ a.BeneficiaryWhatsappNumber }}
                  </td>
                  <td *ngIf="!IsBeneficiary">
                    {{ a.PayerWhatsappNumber || a.PhoneNumber }}
                  </td>
                  <td>
                    {{ a.TransactionDate | date: "yyyy, dd MMM  HH:mm:ss" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="cancelClick()"
    >
      <i class="fa fa-times"></i>
      Close
    </button>
  </div>
</ng-template>
