<ng-template #creditWalletTemplate>
  <div class="modal-header">
    <h4 class="modal-title float-start">
      <i class="bx bx-credit-card-front"></i>
      Credit Wallet
    </h4>
    <button
      type="button"
      class="btn-close float-end"
      aria-label="Close"
      (click)="modalDialog.dismiss()"
    ></button>
  </div>

  <form #form="ngForm" autocomplete="off">
    <div *ngIf="IsLoading" class="p-3">
      <ejs-skeleton height="40px" width="100%"></ejs-skeleton>
      <ejs-skeleton height="40px" width="100%"></ejs-skeleton>
    </div>

    <div *ngIf="!IsLoading" class="modal-body rs-modal-content">
      <div class="row">
        <div class="mb-3 col">
          <label for="amount" class="col-form-label">Amount</label>
          <input
            type="number"
            name="amount"
            class="form-control form-control-sm"
            [(ngModel)]="ViewModel.Amount"
          />
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col">
          <label for="whatsappNumber" class="col-form-label">
            WhatsApp number
          </label>
          <app-custom-phone-input
            #whatsappNumber
            name="whatsappNumber"
            id="whatsappNumber"
            from="body"
            [ApiMethod]="'Country'"
            [Placeholder]="'Country'"
            (OnChangeEmitter)="onChange($event)"
          ></app-custom-phone-input>
        </div>
      </div>
    </div>

    <div class="modal-footer bg-light-gray">
      <button
        *ngIf="IsLoading"
        type="button"
        class="btn btn-primary btn-sm"
        [disabled]="true"
      >
        <i class="bx bx-loader-alt bx-spin bx-rotate-90"></i>
      </button>

      <button
        *ngIf="!IsLoading"
        type="button"
        class="btn btn-primary btn-sm"
        (click)="credit()"
        [disabled]="!ViewModel.Amount || !ViewModel.WhatsappNumber"
      >
        <i class="bx bx-credit-card-front"></i>
        Credit
      </button>
    </div>
  </form>
</ng-template>
